/* 
  Este CSS sale de un ejemplo, fue mutando y me gusta como base para cosas 
  que NO necesitan mucho CSS (docs, etc.).
  
  Sean felices...
  MarxBro - WTFPL!
*/

body { 
    margin: 5%; 
    margin-top: 4%;
    text-align: justify; 
    font-size: 117%; 
    font-family: serif; 
    display: block ; 
    width:90%;
    /*margin:auto;*/
    min-width:400px;
    max-width:1900px;
    }
/*h1 { text-align: left; color: #365566;}*/
/*h2 { text-align: left; }*/
h1 { text-align: left; color: #515151;}
h2 { text-align: left; color: #515151;}
/*h1 { text-align: left; }*/
/*h2 { text-align: left; }*/
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
th, td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    /*padding: 4px;*/
    padding-right: 4px;
    white-space: nowrap;
}
tr:hover {
    background-color: #f2f2f2;
    }
pre {
    font-family: monospace;
}
code{
    font-family: monospace;
    background-color: #f2f2f2;
    display: block ; 
}
blockquote {
    font-size:          119%; 
    font-style:         italic;
    margin-top:         10px;
    margin-bottom:      10px;
    margin-left:        50px;
    padding-left:       15px;
    /*border:             none;*/
    border-width:       3px;
    border-color:       #f2f2f2;
    border-left:        groove;
}
div,span,table { 
    padding: 10px;
    display: block ;
}
/*div,span {*/
/*text-align: right;*/
/*font-size: 75%; */
/*}*/
a:link, a:visited, a:visited{
    text-decoration: none;
    color: #004d4d;
    }
a:hover {
    text-decoration: underline;
}
img {
    max-width: 1800px;
    }
.img_posible>p>img{
    max-height:80px;
    max-width:75px;
}
td  p, .img_posible p  {
    word-wrap: break-word;    
    overflow-wrap: break-word;    
    text-align: left; 
    color: #515151;
}
